/DesafioCientec/obj
/.vs/Desafio-Cientec/FileContentIndex
/.vs/Desafio-Cientec/v17
/DesafioCientec/.vs/DesafioCientec/v17
/DesafioCientec/.vs/DesafioCientec/DesignTimeBuild
/DesafioCientec/.vs/DesafioCientec/FileContentIndex
